
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/section.css' %}" />
{% endblock %}

{% block header_container_class %}container-fluid{% endblock %}

{%block main %}
    <div class="section-container">
        <div class="section-container__common section-container__left">
            <div class="message-list">
                {% for conversation in conversations %}
                <a href="?conversation={{ conversation.id }}">{{ conversation }} </a> <br>
                {% endfor %}
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form" value="conversation">
                {{ conversation_form }}
                <button type="submit">Добавить</button>
            </form>
        </div>

        <div class="section-container__common section-container__right" >
            {% if conversation_id %}
                 <div class="message-list">
                    {% for message in messages %}
                        {{ message }}</br>
                    {% endfor %}
                 </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form" value="message">
                    {{ message_form }}
                    <button type="submit">Добавить</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}