{% load static %}
{% load gravatar %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best chat</title>
  </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'CSS/style3.css' %}" />
    {% block extra_css %} {% endblock %}
    {% block extra_head %} {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="container-xl {% block header_container_class %} {% endblock %}">
        <a href="{% url 'profile' %}" class="header__profile">
          <img
            class="header__profile__img"
            src="{% if user.avatar %}{{ user.avatar.url }}{% elif user.email %}{% gravatar_url user.email 50 %}{% else %}{% static 'images/user.svg' %}{% endif %}"
            alt="userpic"
          />
          <span class="header__profile__bio">{{user.first_name}} {{ user.last_name }}</span>
        </a>

        <div class="header__controls">
            <a class="header__controls__link" href="{% url 'index' %}">Главная</a>
            <a class="header__controls__link" href="{% url 'logout' %}">Выйти</a>
            {%if user.is_anonymous %}<a class="header__controls__link" href="{% url 'django_registration_register' %}">Регистрация</a>{% endif %}
            {%if user.is_anonymous %}<a class="header__controls__link" href="{% url 'login' %}">Войти</a>{% endif %}
        </div>
      </div>
    </header>
{% block main %} {% endblock %}
  </body>
</html>